{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container card-container">
        <div class="card">
            <form method="post">
                <h1>Je rejoins la Gallerie Du Rire !</h1>

                {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}
                {{ form_row(registrationForm.pseudo, {'attr': {'class': registrationForm.pseudo.vars.errors|length ? 'has-error' }}) }}
                {{ form_row(registrationForm.prenom, {'attr': {'class': registrationForm.prenom.vars.errors|length ? 'has-error' }}) }}
                {{ form_row(registrationForm.nom, {'attr': {'class': registrationForm.nom.vars.errors|length ? 'has-error' }}) }}
                {{ form_row(registrationForm.email, {'attr': {'class': registrationForm.email.vars.errors|length ? 'has-error' }}) }}
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': registrationForm.plainPassword.vars.errors|length ? 'has-error' }}) }}


                {% for field, errors in registrationForm.vars.errors %}
                    {% for error in errors %}
                        <div class="form-error-message">{{ error }}</div>
                    {% endfor %}
                {% endfor %}

                <div class="agree-terms-row">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button type="submit" class="btn">Nous rejoindre</button>
                {{ form_end(registrationForm) }}
            </form>
        </div>
    </div>
{% endblock %}


